{% extends 'base.html' %}
{% load humanize %}
{% load home_extras %}
{% block body %}
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="">
                <div class="container">
                    <h1 class="page-title">List<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="toolbox">

                                <form action="">
                                    <div class="toolbox-right">
                                        <input type="submit" name="price" value="گران ترین">
                                        <input type="submit" name="price" value="ارزان ترین">
                                        <input type="submit" name="create" value="جدیدترین">
                                        <input type="submit" name="discount" value="پر تخفیف ترین">
                                        <input type="submit" name="favourite" value="محبوب ترین">
                                        <div style="display: none">
                                            {{ filter.form.brand }}
                                            {{ filter.form.color }}
                                            {{ filter.form.size }}
                                            {{ filter.form.category }}
                                            {% if 'search' in request.GET %}
                                                {{ search_form }}
                                            {% endif %}
                                        </div>
                                    </div><!-- End .toolbox-right -->
                                </form>
                            </div><!-- End .toolbox -->

                            <!-- compare message -->
                            <div id="success_message" class="ajax_response" dir="rtl">
                                <p class="p-2 compare-text" style="color: #bd2130;">اضافه شد</p>
                            </div>
                            <!-- compare message -->

                            <div class="products mb-3">
                                {% for product in products %}
                                    <div class="product product-list">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <figure class="product-media">
                                                    <a href="product.html">
                                                        <img src="{{ product.image.url }}" alt="Product image"
                                                             class="product-image">
                                                    </a>
                                                </figure><!-- End .product-media -->
                                            </div><!-- End .col-sm-6 col-lg-3 -->
                                            <!-- compare java -->

                                            <script>
                                                var message_ele = document.getElementById("del_msg");
                                                setTimeout(function () {
                                                    message_ele.style.display = "none";
                                                }, 3000);
                                                $("#success_message").hide();


                                                $(document).on('click', '.add-compare', function (event) {
                                                    event.preventDefault();
                                                    $.ajax({
                                                        url: $(this).attr('href'),
                                                        type: 'GET',
                                                        data: $(this).serialize(),
                                                        dataType: 'json',
                                                        success: function (data) {
                                                            $('#success_message').fadeIn();
                                                            setTimeout(function () {
                                                                $('#success_message').fadeOut("slow");
                                                            }, 2000);
                                                        },
                                                        error: function (data) {
                                                            alert('error')
                                                        },
                                                    });
                                                });
                                            </script>
                                            <!-- compare java -->
                                            <div class="col-6 col-lg-3 order-lg-last">
                                                <div class="product-list-action">
                                                    <div class="product-price">
                                                        {{ product.total_price|intcomma:False }}
                                                    </div><!-- End .product-price -->
                                                    <div class="product-action">

                                                        <a href="{% url 'cart:add_compare' product.id %}"
                                                           class="add-compare btn-product btn-compare"
                                                           title="Compare"><span>compare</span></a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-list-action -->
                                            </div><!-- End .col-sm-6 col-lg-3 -->

                                            <div class="col-lg-6">
                                                <div class="product-body product-action-inner">
                                                    <h3 class="product-title"><a
                                                            href="{% url 'home:details' product.id %}">{{ product.name }}</a>
                                                    </h3>
                                                    <!-- End .product-title -->
                                                </div><!-- End .product-body -->
                                            </div><!-- End .col-lg-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .product -->
                                {% endfor %}
                            </div><!-- End .products -->

                            <nav aria-label="Page navigation">
                                <ul class="pagination" style="color: #333333;font-size: 18px;">
                                    {% if products.has_previous %}
                                        <li><a class="Previous"
                                               href="{% relative_url products.previous_page_number 'page' request.GET.urlencode %}">قبلی</a>
                                        </li>
                                        <li>
                                            <a href="{% relative_url products.previous_page_number 'page' request.GET.urlencode %}">{{ products.previous_page_number }}</a>
                                        </li>
                                    {% endif %}
                                    <li class="{% if page_num == page_num %} active {% endif %}"><a
                                            href="#"> {{ products.number }}</a></li>
                                    {% if products.has_next %}
                                        <li>
                                            <a href="{% relative_url products.next_page_number 'page' request.GET.urlencode %}">{{ products.next_page_number }}</a>
                                        </li>
                                        <li><a class="Next"
                                               href="{% relative_url products.next_page_number 'page' request.GET.urlencode %}">بعدی</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3 order-lg-first">
                            <form action="">
                                <div class="sidebar sidebar-shop">
                                    <div class="widget widget-clean">
                                        <label>Filters:</label>
                                    </div><!-- End .widget widget-clean -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-1" role="button"
                                               aria-expanded="true"
                                               aria-controls="widget-1">
                                                Category
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-1">
                                            <div class="widget-body">
                                                <div class="filter-items filter-items-count">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <label for="cat-1">{{ filter.form.category }}</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->


                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-2" role="button"
                                               aria-expanded="true"
                                               aria-controls="widget-2">
                                                Size
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-2">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <label for="size-1">{{ filter.form.size }}</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->
                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-3" role="button"
                                               aria-expanded="true"
                                               aria-controls="widget-3">
                                                Colour
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-3">
                                            <div class="widget-body">
                                                <div class="filter-colors">
                                                    <div class="custom-control custom-checkbox">
                                                        <label for="size-1">{{ filter.form.color }}</label>
                                                    </div><!-- End .custom-checkbox -->
                                                </div><!-- End .filter-colors -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-4" role="button"
                                               aria-expanded="true"
                                               aria-controls="widget-4">
                                                Brand
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-4">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <label for="brand-1">{{ filter.form.brand }}</label>
                                                        </div><!-- End .custom-checkbox -->
                                                    </div><!-- End .filter-item -->


                                                </div><!-- End .filter-items -->
                                            </div><!-- End .widget-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-5" role="button"
                                               aria-expanded="true"
                                               aria-controls="widget-5">
                                                Price
                                            </a>
                                        </h3><!-- End .widget-title -->

                                        <div class="collapse show" id="widget-5">
                                            <div class="d-flex align-items-center" style="direction: rtl;">
                                                از:
                                                <input name='price_1' type="number" style="width:110px;"
                                                       value='0'>
                                                &nbsp;
                                                تا:
                                                <input name="price_2" style="width:115px;" type="number"
                                                       value='1000000'>
                                            </div>
                                        </div><!-- End .collapse -->
                                    </div><!-- End .widget -->
                                </div><!-- End .sidebar sidebar-shop -->
                                <button type="submit" class="btn btn-danger mt-3">اعمال فیلتر</button>
                                <div style="display: none">
                                    {{ filter.form.price }}
                                    {{ filter.form.discount }}
                                    {{ filter.form.create }}
                                    {% if 'search' in request.GET %}
                                        {{ search_form }}
                                    {% endif %}
                                </div>
                            </form>
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div>
{% endblock %}