<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/images/icons/site.html">
    <link rel="mask-icon" href="/static/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/static/assets/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="/static/assets/css/demos/demo-3.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
</head>
<body>
{% include 'navbar.html' %}
{% include 'message.html' %}
{% block body %}{% endblock %}
<!-- Plugins JS File -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/static/assets/js/jquery.waypoints.min.js"></script>
<script src="/static/assets/js/superfish.min.js"></script>
<script src="/static/assets/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/bootstrap-input-spinner.js"></script>
<script src="/static/assets/js/jquery.plugin.min.js"></script>
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/static/assets/js/jquery.countdown.min.js"></script>
<!-- Main JS File -->
<script src="/static/assets/js/main.js"></script>
<script src="/static/assets/js/demos/demo-3.js"></script>

</body>
</html>